* {
    box-sizing: border-box;
}

.container {
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgb(79, 79, 79);
}

.elementosDcha {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.navbar a {
    font-size: medium;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.navbar a:hover {
    color: red;
}

.logo {
    padding-left: 1rem;
}

.cocacola {
    max-width: 185px;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
}

.baritem {
    width: 30px;
    height: auto;
}

.gallery-container {
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgb(79, 79, 79);
}


.gallery-2-columns {
    grid-template-columns: repeat(2, 1fr);
}


.gallery-3-columns {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}


.circular img {
    border-radius: 50%;
}


.square img {
    aspect-ratio: 1/1;
    object-fit: cover;
}


.portrait img {
    aspect-ratio: 3/4;
    object-fit: cover;
}

.controls button {
    background-color: #4CAF50;

    border: none;
    color: white;

    padding: 10px 20px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;

    cursor: pointer;
    border-radius: 12px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.controls button:hover {
    background-color: white;

    color: #4CAF50;

    border: 2px solid #4CAF50;

}

.controls {
    display: flex;
    justify-content: center;

    gap: 10px;

    padding: 20px;
}